.cuadro {
    width: 95% !important;
    height: 50% !important;
    border-radius: 5px !important;
    border: 4px solid #707070 !important;
    background-size: contain  !important;
    filter: saturate(0.5) !important;
    transition: all 300ms !important;

    Button {
        // margin-top: 250px !important;
        margin-left: 120px !important;
        @media (max-width: 855px) {
            margin-top: 120px !important;
            margin-left: 70px !important;
        }
        @media (max-width: 500px) {
            margin-left: 160px !important;
        }
    }
    &:hover {
        filter: saturate(1) !important;
    }
    @media (max-width: 855px) {
        height: 70% !important;
        background-size: cover !important;
        background-position: center !important;
    }
    @media (max-width: 500px) {
        height: 100% !important;
        width: 130% !important;
        margin-bottom: 30px !important;
    }
}
