.cuadro {
    width: 95%;
    height: 50%;
    border-radius: 5px;
    border: 4px solid #707070;
    background-size: contain;

    Button {
        margin-top: 250px;
        margin-left: 120px;
    }
}
