.proyects-conteiner {
    margin-top: 150px;
    margin-bottom: 100px;

    .item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin: 0 auto;
        height: 500px;
        width: 70%;
        justify-items: center;
        align-items: center;

        @media (max-width: 855px) {
            margin-top: 50px;
        }
    }

    @media (max-width: 855px) {
        margin-top: 100px;
        margin-bottom: 0px;
        .item-container {
            height: 200px;
            width: 85%;
            gap: 20px;
        }
    }
    .masProyectos {
        @media (max-width: 855px) {
            margin-top: 50px;
        }
    }
}
