body {
    font-family: 'Ubuntu Mono', monospace;
    color: #333;
    background-color: #e6dfd1;
}

nav {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    background-color: transparent;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-column: 5/11;
    justify-self: end;
    padding: 0;
    margin-right: 0.5rem;
}

.nav-logo {
    grid-column: 2/3;
}

.app-header {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: 700px;
}

@media (max-width: 855px) {
    .nav-list {
        grid-column: 5/12;
    }
    .app-header {
        grid-template-rows: 500px;
    }
}
@media (max-width: 400px) {
    .nav-list {
        display: none;
    }
    .app-header {
        grid-template-rows: 500px;
    }
} ;
