.container-About-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-image: url(../img/trama.svg);
    height: 700px;
    background-size: 150px;
    background-repeat: repeat;
}
.about-me-gridPP {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    width: 70%;
    height: 80%;
    /* align-content: start; */
}
.about-me-gridPP .about-me-descripcion {
    grid-column: 1/4;
    align-self: center;
}

.about-me-gridPP .about-me-skills {
    grid-column: 4/6;
    position: relative;
}

@media (max-width: 855px) {
    .container-About-me {
        margin-top: 50px;
        height: 500px;
    }
    .about-me-gridPP {
        width: 80%;
    }
    .about-me-gridPP .about-me-skills {
        padding: 25px;
        width: 100%;
        margin-top: -25px;
    }
}
@media (max-width: 500px) {
    .container-About-me {
        margin-top: 90px;
        background-repeat: repeat;
        width: 540px !important;
        height: auto;
        flex-direction: column;
    }
    .about-me-gridPP {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 0.5fr;
        width: 500px;
        height: 400px;
        margin-top: 50px;
        margin-left: 10px;
    }
    .about-me-gridPP .about-me-descripcion {
        grid-row: 1/4;
        align-self: center;
    }
    .about-me-gridPP .about-me-skills {
        display: none;
    }
}
